<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-4 ">
            <h1 class="lead mt-3"><%=user.firstName+" "+user.lastName%></h1>
                    <img class="rounded-circle img-fluid border border-primary" src="<%=user.avatar%>" alt="user profile image">
                
        </div>
        <div class="col-md-6 offset-1 mt-4 ">
            <h3 class="lead"><%=user.username%>'s campgrounds</h3>
            <ul class="list-group">
                <% campgrounds.forEach(function(campground){%>
                    <li class="list-group-item"><a href="/campgrounds/<%=campground._id%>"><%=campground.name%></a></li>
                <%})%>
            </ul>
        </div>
    </div>
        <%if(currentUser && user._id.equals(currentUser._id)){%>
            <a class="btn btn-warning mt-3" href="/users/<%=user._id%>/edit">Edit</a>
        <%}%>

</div>

<% include ../partials/footer %>